<!DOCTYPE html>
<html>
<head>
<style>
table, td, th {  
  border: 1px solid rgb(27, 17, 17);
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 15px;
}

.bg-img {
      /* The image used */
      background-image: url("assets/img4.jpg");

      min-height: 550px;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

</style>
</head>
<body>
  <div class="bg-img">
<div class="panel" >
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body">
<div  class="table-responsive" >
   
 
<table align="center">
    
    <thead>
<tr>
 <td>Retailer Name</td>
 <td>Retailer Email</td>
 <td>Delete Retailer</td>
</tr>
</thead>
<tbody>
    <tr *ngFor="let pro of retailer">
        <td>{{pro.name}}</td>
        <td>{{pro.email}}</td>
        
        <td><button type="submit">X</button></td>
      </tr>
  </tbody>

</table>


</div>