
<!DOCTYPE html>
<html>
<head>
<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}


</style>
</head>
<body>

<!-- <div class="panel" >
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body">
<div  class="table-responsive" > -->
   
 
<div class="panel" >
        <div class="panel-heading">{{title}}</div>
        <div class="panel-body">
    <div  class="table-responsive">
        <form>
  
            <button type="submit" >Add Product</button><br><br>
    <table align="center">

   <tr>
     <td>Product Name:</td>
        <td><input type='text' name='name' required></td>
    </tr>
    <tr> <td>&nbsp;</td> </tr>
    <tr>
        <td>Product Image:</td>
        <td><input type='text' name='name' required></td>
    </tr>
    <tr> <td>&nbsp;</td> </tr>
    <tr>
        <td>Product Description:</td>
        <td><input type='text' name='name' required></td>
    </tr>
    <tr> <td>&nbsp;</td> </tr>
    <tr>
        
        <td>Product Price:</td>
        <td><input type='text' name='name' required></td>
    </tr>
    <tr> <td>&nbsp;</td> </tr>
    <tr>
     
            <button type="submit">Submit</button>
            
    </table>
     
    <table>
            <tr>
            </tr>
            <table align="center">
            <button type="Delete" >Delete Product</button><br><br>
            <tr>
                <td>Product Name:</td>
                <td><input type='text' name='name' required></td>
            </tr>
            <tr> <td>&nbsp;</td> </tr>
            <tr>
                <td>Product Image:</td>
                <td><input type='text' name='name' required></td>
            </tr>
            <tr> <td>&nbsp;</td> </tr>
            <tr>
                <td>Product Description:</td>
                <td><input type='text' name='name' required></td>
            </tr>
            <tr> <td>&nbsp;</td> </tr>
            <tr>
                
                <td>Product Price:</td>
                <td><input type='text' name='name' required></td>
            </tr>
            <tr> <td>&nbsp;</td> </tr>
            <tr>
             
                    <button type="Submit">Delete</button>
            </table>
            </table>
    </form>
    </div>