

   
 
<div class="panel" >
                
        <div class="panel-heading">{{title}}</div>
        <div class="panel-body">
    <div  class="table-responsive">
        <form>
  
            <button type="submit" a [routerLink]="['/add-product']"  align="right" width="48" height="48">Add Product</button><br><br>
    <table align="center">

   <tr>
     <td>Product Name:</td>
        <td><input type='text' name='name' required></td>
    </tr>
    <tr> <td>&nbsp;</td> </tr>
    <tr>
        <td>Product Image:</td>
        <td><input type='text' name='name' required></td>
    </tr>
    <tr> <td>&nbsp;</td> </tr>
    <tr>
        <td>Product Description:</td>
        <td><input type='text' name='name' required></td>
    </tr>
    <tr> <td>&nbsp;</td> </tr>
    <tr>
        
        <td>Product Price:</td>
        <td><input type='text' name='name' required></td>
    </tr>
    <tr> <td>&nbsp;</td> </tr>
    <tr>
     
            <button type="submit" style="margin-left: 50%">Submit</button>
            
    </table> 
     
    <button type="submit" a [routerLink]="['/delete-product']" >Delete Product</button><br><br>
    <div>
        <router-outlet></router-outlet>
      </div>
    <!-- <table>
            <tr>
            </tr>
            <table align="center">
            <button type="Delete" >Delete Product</button><br><br>
            <tr>
                <td>Product Name:</td>
                <td><input type='text' name='name' required></td>
            </tr>
            <tr> <td>&nbsp;</td> </tr>
            <tr>
                <td>Product Image:</td>
                <td><input type='text' name='name' required></td>
            </tr>
            <tr> <td>&nbsp;</td> </tr>
            <tr>
                <td>Product Description:</td>
                <td><input type='text' name='name' required></td>
            </tr>
            <tr> <td>&nbsp;</td> </tr>
            <tr>
                
                <td>Product Price:</td>
                <td><input type='text' name='name' required></td>
            </tr>
            <tr> <td>&nbsp;</td> </tr>
            <tr>
             
                    <button type="Submit">Delete</button>
            </table>
            </table>
    </form>
    </div> -->