<!--The content below is only a placeholder and can be replaced.-->
<head>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>
<div  style="text-align:center" >
  <h1  style="font-family: 'Pacifico', cursive;" id=ti>
   {{ title }}Trend Zone
    
  </h1>
  <product></product>


           <!-- <form action="" method="get">
          <a 
        <input type="submit" value="Login" 
             name="Submit" onclick="window.location.href='Login'"/>
          </form>-->
                         
  
 
  <ul class="nav navbar-nav">
  <!-- <li><a [routerLink]="['./product']">Product Display</a></li> -->
  <!--<li><a [routerLink]="['/customer-login']">Login</a></li>-->
  <li><a [routerLink]="['/retailer-homepage']">Retailer Homepage</a></li>
  <li><a [routerLink]="['/admin-homepage']">Admin Homepage</a></li>


 

</ul>
  <div>
    <router-outlet></router-outlet>
  </div>
 </div>
  

  <!--<customer-login></customer-login>-->
  <!--<registration></registration>-->